.modal{
    position: fixed;
    z-index: 9999;
    display: flex;
   
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal_wrapper{
    overflow: auto;
    width: 600px;
    padding: 20px;
    max-width: calc(100vw-20px);
    max-height: calc(100vh-20px);
   
}