.modal{
    height: 100vw;
    width: 100vh;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999;
    transition: .3s;

}

.modal:target{
    visibility: visible;
    opacity: 1;
}

.modal_content{
   
    width: 100%;
    max-width: 100%;
    height: 90vh;
    position: relative;
    transform: rotate(90deg);
    display: flex;
    flex-direction: column;
  align-items: center;
  
  
}

.modal_close{
    display: flex;
    text-decoration-line: underline !important;
    font-size: 1.2rem !important;
    justify-content: center;
    font-weight: normal;
   
    
}

.modal_title{
    margin: 3rem 0;
}

.main__header .modal_content p{
    margin: 0 0 3rem 0;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.modal_btn{
    position: relative;
    height: 60px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 0 1rem;
    margin-top: 3rem;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 0; 
}

.modal_btn::before{
position: absolute;
  content: '';
  top: 0;
  right: 200px;
  width: 100%;
  height: 100%;
  background: white;
  transition: all .5s;
  z-index: -1;
}


.modal_btn:hover::before{
  right: 0;

}

.modal_btn:hover{
    color: black;
}



