.container__bo{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    /*pour ie et mozilla*/
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar{
    display: none;
}

.main__header{
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    font-weight: bold;  
}

.main__header a {
    text-decoration: none;
    cursor: pointer;
    
}

.main__btn{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.btn__style{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: bold;
    font-size: 1rem;
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
    height: 3rem;
    margin:0 2rem;
    padding: 0 2rem;
    border: 0;
   
}

.btn__style:hover{
    background-color:blue;
    color: white;
}

/* home.php */

.btn__add{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: bold;
    font-size: 1rem;
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
    height: 3rem;
    border: none;
    padding: 0 2rem;
    margin: 0 auto;
   
}

.btn__add:hover{
  
    background-color:blue;
    text-decoration: none !important;
    color: white;
}


/* add-form.php */
.container__bo{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add__form--title{
    height: 10%;
    width: 100%;
    text-transform: uppercase;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.add__form--form{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.input__bo{
  
    height: 9%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
   
}

/* label{
  display: flex;
} */