/* Conteneur */
.container{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
   
    /*pour ie et mozilla*/
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar{
    display: none;
}

/* Titre page*/

h1{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    margin-bottom: 64px;
}

/* En-tête */

.main__header{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    font-size: 1rem;
    font-weight: bold;  
}

.main__header a {
    text-decoration: none;
    font-size: 1.5rem;
}

/* Bloc horizontal */

.bloc__horizontal{
    display: flex;
    flex-direction: row;
    width: 2088px;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.bloc__horizontal a{
    cursor: pointer;
    text-decoration: none;
}

/* Cartes projets*/

.item{
    width: 450px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background:no-repeat center url('../images/test-600-450.jpg'); */
    font-size: 32px;
    margin: 32px; 
    transition:  0.5s ease-in-out!important;
}

.item:hover{
   background-color: violet!important;
  
   background-blend-mode: overlay!important;
    transform:scale(1.1)!important; 
}

/* Responsive */

@media screen and (max-width: 576px) {
    h1{
        font-size: 3rem;
        margin-bottom: 16px;
    }

    .bloc__horizontal{
      
        width: 1044px;
    }

    .item{
        width: 225px;
        height: 300px;
   
        font-size: 1rem;
        margin: 0 32px 0 0;
    }
}







