/* cartes projets*/
.item{
    width: 450px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:no-repeat center url('../images/test-600-450.jpg');
    font-size: 32px;
    margin: 32px;
   
}

.bloc__horizontal a{
    cursor: pointer;
    text-decoration: none;
    
}


    
 .item{
    transition:  0.5s ease-in-out;
}
    
 .item:hover{
   background-color: violet;
   z-index: 99999;
   background-blend-mode: overlay;
    transform:scale(1.1); 
    
}


.bloc__horizontal{
    display: flex;
    flex-direction: row;
    width: 2634px;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.bo__bloc--horizontal{
    display: flex;
    flex-direction: row;
    width: 95vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.btn__style{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: bold;
    font-size: 1rem;
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
    height: 3rem;
    margin:0 2rem;
    padding: 0 2rem;
   
}

.btn__style:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:blue;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    height: 3rem;
    margin:0 2rem;
    padding: 0 2rem;
   
}





/* .btn__style a{
    font-weight: bold;
    font-size: 1rem;
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
    

}

.btn__style:hover{
    background-color: blue;
    color: white;
     height: 70px;
   margin:0 2rem;
   padding: 0 2rem;
    border:0px;
    line-height: 35px;
}


.btn__style a:hover{
    font-weight: bold;
    font-size: 1rem;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: blue;
    

} */




.container{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;

   
    /*pour ie et mozilla*/
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar{
    display: none;
}

/*titre page*/

h1{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    margin-bottom: 64px;
}

.main__header{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    font-size: 1rem;
    font-weight: bold;  
}

.main__header a {
    text-decoration: none;
    
    font-size: 1.5rem;
}


/* filtres */
/* .container__filter{
    background-color: yellowgreen;
    
    transform: rotate(90deg);


} */