@font-face {
    font-family: "Metropolis-Medium.otf";
    src: url("../fonts/Metropolis-Medium.otf") format("opentype"), 
    url("../fonts/Metropolis-Bold.otf") format("opentype"), 
    url("../fonts/Metropolis-ExtraBold.otf") format("opentype");
}

*, ::before, ::after{
    font-family: "Metropolis";
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

body{
    background-image: url('../images/bg-home.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 100vh;
   
}
