@font-face {
    font-family: "Metropolis-Medium.otf";
    src: url("../fonts/Metropolis-Medium.otf") format("opentype"), 
    url("../fonts/Metropolis-Bold.otf") format("opentype"), 
    url("../fonts/Metropolis-ExtraBold.otf") format("opentype");
}

*, ::before, ::after{
    font-family: "Metropolis";
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

body{
    background-image: url('../images/bg-home.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 100vh; 
}

.form__container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main__form{
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

   
}
label{
    font-size: 18px;
}

input{
    width: 250px;
    height:35px;
   color: black;
    
}
textarea{
    color: black;
}