.single__container{
    height: 100vh;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.single__container figure, .single__container p{
 padding-bottom: 1rem;
}

.single__container p a{
   padding: 0 1rem;
   }


.single-btn {
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    border: 0;
}